
.home{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: end;
}

.img_home{
    width: 100%;
}

.flex {
    display: flex;
}

.dir-col{
    flex-direction: column;
}

[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }

  nz-button-group [nz-button] {
    margin-right: 0;
  }

 .margin-8r-12b{
    margin-right: 8px;
    margin-bottom: 12px;
 }

  .grey-bkg{
    background-color: #ECEFF2;
  }

  section {
    margin: 3em 0;
    padding: 2em 1em;
  }
  