<div class="wrapper">

  <!-- Hero section -->
  <section class="home">
    <div class="child-1" nz-col [nzSpan]="24" [nzXs]="24" [nzMd]="12" [nzLg]="12">
      <div>
        <h1>Queres encontrar a carreira profissional perfeita para ti?</h1>
        <h2>Nós ajudamos!</h2>
        <p>Se queres ficar a saber mais sobre a nossa forma de recrutamento clica aqui</p>
      </div>
      <div>
        <button nz-button class="hero-btn-padd" onclick="window.location= 'candidatura'" nzType="primary">Candidatar-me</button>
        <button nz-button class="hero-btn-padd" onclick="window.location= 'vagas'" nzType="default">Carreiras disponiveis</button>
      </div>
    </div>

    <div class="child-2" nz-col [nzPull]="5" nzSpan="19">
      <img class="img_home" src="../../assets/people_looking-01.png"
        alt="Ilustração de pessoas a olhar em volta com binoculus etc">
    </div>
  </section>

<!-- Marquee tag animation -->
  <section>
    <div class="marquee">
      <img class="img_home" src="../../assets/company_logos.png" alt="Logoimagem da div.pt">
      <img class="img_home" src="../../assets/company_logos.png" alt="Logoimagem da div.pt">
    </div>
  </section>


<!-- Empregos section -->
  <section class="grey-bkg padding round_border">
    <h1>Procurar emprego</h1>
    <div class="flex colum coluna" nz-row [nzGutter]="16">
    <div class="child" nz-col [nzXs]="24" [nzMd]="24" [nzLg]="24" [nzXl]="12" [nzXXl]="12">
      <nz-input-group class="margin-8r-12b" [nzSuffix]="searchIconTemplate">
        <input [(ngModel)]="searchEmprego" type="text" nz-input placeholder="Posição/ Empresa/ Area/ Local/ Política"/>
      </nz-input-group>

      <ng-template #searchIconTemplate><span nz-icon nzType="search" nzTheme="outline"></span></ng-template>

      <nz-table [nzShowPagination]=" 'false'" #basicTable [nzData]="firstThreeEmpregos">
        <thead>
          <tr>
            <th>Posição</th>
            <th>Empresa</th>
            <th>Area</th>
            <th>Politica</th>
            <th>Local</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data | filter:searchEmprego">
            <td>{{ data.posicao }}</td>
            <td>{{ data.empresa }}</td>
            <td>{{ data.area }}</td>
            <td>{{ data.politica }}</td>
            <td>{{ data.local }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <div class="child flex colum dir-col margin-top-media" nz-col [nzSpan]="24" [nzXs]="24" [nzMd]="24" [nzLg]="24" [nzXl]="12" [nzXXl]="12">

      <nz-button-group [nzSize]="size">
        <button class="button-full" nz-button nzType="default">
          Trabalhos a nivel nacional
          <span nz-icon nzType="right"></span>
        </button>
      </nz-button-group>


      <nz-button-group [nzSize]="size">
        <button class="button-full" nz-button nzType="default">
          Trabalhos a nivel internacional
          <span nz-icon nzType="right"></span>
        </button>
      </nz-button-group>

      <nz-button-group [nzSize]="size">
        <button class="button-full" nz-button nzType="default">
          Trabalhos na tua zona
          <span nz-icon nzType="right"></span>
        </button>
      </nz-button-group>

      <nz-button-group [nzSize]="size">
        <button class="button-full" nz-button nzType="default">
          Trabalhos remotos
          <span nz-icon nzType="right"></span>
        </button>
      </nz-button-group>
    </div>
  </div>
  </section>


  <!-- information section -->
  <section class="flex colum dir-col">
    <h1>Maximiza as tuas oportunidades</h1>
    <div class="flex colum">
      <div class="child" nz-col [nzSpan]="24" [nzXs]="24" [nzMd]="12" [nzLg]="12">
        <img class="img_home" src="../../assets/organize.png"
          alt="Ilustração de pessoas a olhar em volta com binoculus etc">
      </div>

      <div class="child" nz-col [nzSpan]="24" [nzXs]="24" [nzMd]="12" [nzLg]="12">
        <div>
          <h2>Organizamos para ti</h2>
          <p>Organizamos todas as oportunidades de emprego
            de acordo com as tuas preferencias</p>
        </div>
      </div>
    </div>

    <div class="flex colum reverse-direction">

      <div class="child" nz-col [nzSpan]="24" [nzXs]="24" [nzMd]="12" [nzLg]="12">
        <div>
          <h2>Encontra empregos de alto nivel</h2>
          <p>Temos para ti os melhores trabalhos do mercado a nivel nacional
            e internacional.</p>
        </div>
      </div>


      <div class="child" nz-col [nzSpan]="24" [nzXs]="24" [nzMd]="12" [nzLg]="12">
        <img class="img_home" src="../../assets/empregos_alto_nivel.png"
          alt="Ilustração de uma pessoa a levantar um trofeu">
      </div>
    </div>
  </section>


  <!-- CARDS -->
  <section nz-col [nzSpan]="24" [nzXs]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <h1>Vagas em destaque</h1>

    <nz-table  class="wrapper cards-responsive" #basiccard [nzData]="firstThreeEmpregos" nzFrontPagination="false">
      
      <nz-card class="grey-bkg padding flex colum margin-top-bottom round_border" *ngFor="let data of basiccard.data">
        <div class="align-center flex colum margin-8r-12b">
          <div class="margin-8r-12b">
            <img class="img_home" src="{{ data.imagem }}" alt="Logoimagem da div.pt">
          </div>

          <div class="align-center margin-8r-12b">
            <h3>{{ data.posicao}}</h3>
            <h3>{{ data.empresa}}</h3>
            <nz-tag><fa-icon [icon]="faMoneyBillWave"></fa-icon> {{ data.salario }}</nz-tag>
            <p nz-typography nzType="secondary">{{ data.experiencia }}</p>
            <p nz-typography nzType="secondary">{{ data.area }} | {{ data.local }}</p>
          </div>
        </div>

        <div>
          <div class="flex row colum margin-8r-12b">
            <ng-container *ngFor="let skill of data.skills | keyvalue">
              <ng-container *ngIf="skill.value.trim() !== ''">
                <nz-tag [nzColor]="color">{{ skill.value }}</nz-tag>
              </ng-container>
            </ng-container>

          </div>
          <p>
            {{ data.descricao }}
          </p>
          <button class="btn-card" nz-button onclick="window.location= 'candidatura'" nzType="primary">Candidatar-me</button>
          <button class="btn-card" nz-button onclick="window.location= 'vagas'" nzType="default">Ver proposta</button>

        </div>
      </nz-card>
    </nz-table>
  </section>