body{
  width: 100%;
}

.logo {
    margin: 0 25px;
    float: left;
  }

  [nz-menu] {
    line-height: 64px;
    font-size: 20px;
    font-weight: 800;
    color: #D85F35;
  }

  nz-header{
    position: relative;
    width: 100%;
    max-width: 100%;
    z-index: 20;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  nz-content {
    padding: 0 20px;
  }

  nz-footer {
    text-align: center;
  }

  .inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }

  .ant-layout-header{
    height: 80px;
  }

  nz-content{
    background-color: #fff;
  }

  section {
    margin: 3em 0;
  }

  .ant-menu{
    background-color: #ECEFF2;
  }

.nav-border{
  border-bottom: solid 2px #D85F35;
  height: max-content;
}

.jst-spc-between{
  justify-content: space-between;
}


