<nz-layout>
  <nz-header>
    <div class="logo"><a onclick="window.location= ''"><img src="../assets/alpicarrers_logo_small.png" alt="alpiCarrers logo"></a></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item onclick="window.location= 'vagas'">Vagas</li>
      <li nz-menu-item>nav 2</li>
    </ul>
  </nz-header>

  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>

  <nz-footer>
  <img src="../assets/alpicarrers_logo.png" alt="alpiCarrers logo">
  <nz-footer>AlpiCarrers ©2023 Implement Div.pt</nz-footer>
  </nz-footer>
</nz-layout>