body{
  width: 100%;
}

.logo {
    margin: 0 25px;
    float: left;
  }

  [nz-menu] {
    line-height: 64px;
  }

  nz-header{
    position: relative;
    width: 100%;
    max-width: 100%;
    z-index: 20;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  nz-content {
    padding: 0 20px;
  }

  nz-footer {
    text-align: center;
  }

  .inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }

  .ant-layout-header{
    height: 80px;
  }

  nz-content{
    background-color: #fff;
  }

  section {
    margin: 3em 0;
    padding: 2em 1em;
  }

  .ant-menu{
    background-color: #ECEFF2;
  }

.nav-border{
  border-bottom: solid 2px #D85F35;
  height: max-content;
}

.jst-spc-between{
  justify-content: space-between;
}

/* .toggle-btn {
  width: 35px;
  height: max-content;
  display: none;
}

.toggle-btn span{
  display: inline-block;
  border-radius: 25px;
  width: 100%;
  height: 3px;
  background-color: #D85F35;
  margin-bottom: 8px;
}

@media only screen and (max-width: 768px) {
  .toggle-btn{
    display: block;
  }
} */

