/* You can add global styles to this file, and also import other style files */
@primary-color: #D85F35;

*{
  font-family: 'Inter', sans-serif;
}
html{
  --antd-wave-shadow-color: #D85F35;
}

.home{
    width: 100%;
    min-height: 60vh;
    display: flex;
}

.align-end {
  align-items: end;
}

.img_home{
    width: 100%;
    margin: auto;
}

.flex {
    display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}

.align-center{
    align-items: center;
}

.align-end{
  align-items: end;
}

.dir-col{
    flex-direction: column;
}

[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }

  nz-button-group [nz-button] {
    margin-right: 0;
  }

 .margin-8r-12b{
    margin-right: 8px;
    margin-bottom: 12px;
 }

  .grey-bkg{
    background-color: #ECEFF2;
  }

  section {
    margin: 3em 0;
    padding: 2em 1em;
  }

  .wrapper{
    max-width: 1300px;
    margin: auto auto;
  }

  .home h1{
    font-size: clamp(2em, 8vw, 4em);
    /* font-size: 4em; */
    font-weight: 900;
    color: #D85F35;
  }

  .home h2{
    font-size: clamp(1.5em, 8vw, 3em);
    /* font-size: 3em; */
    font-weight: 500;
    color: #E4997F;
  }

  h1 {
    /* font-size: 3em; */
    font-size: clamp(2em, 8vw, 4em);
    font-weight: 700;
    color: #D85F35;
  }

  h2{
    font-size: clamp(1em, 8vw, 2em);
    /* font-size: 2em; */
    font-weight: 500;
    color: #E4997F;
  }

  h3{
    font-size: 1.5em;
    font-weight: 500;
    color: #D85F35;
  }

  .child-2 {
    z-index: 0;
  }

  .child-1 {
    z-index: 1;
  }

  .round_border{
    border-radius: 1em;
  }

  .relative{
    position: relative;
  }
  .marquee{
    position: relative;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    border-radius: 5em;
    background-color: #ECEFF2;
    height: 10em;
  }

  .marquee img{
    animation: move-rtl 15000ms linear infinite;
    /* width: clamp(600%, 8vw, 1000%); */
  }

  @keyframes move-rtl{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(-100%);
    }
  }

  .button-full{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 3em;
    height: auto;
    white-space: normal;
  }

  .ant-tag{
    margin: 5px 8px 5px 8px;
    width: max-content;
  }

  .jst-between{
    justify-content: space-between;
  }

.margin{
  margin: 0 3em;
}

/* Butões */

.ant-btn {
  border-radius: 25px;
  border-color: #D85F35;
  border-radius: 25px;
  font-weight: 800;
  color: #D85F35;
  /* Shadow */
/* -webkit-box-shadow: -5px 5px 0px 0px rgba(136,35,0,1);
-moz-box-shadow: -5px 5px 0px 0px rgba(136,35,0,1);
box-shadow: -5px 5px 0px 0px rgba(136,35,0,1); */
-webkit-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
-moz-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
}


.ant-btn-primary {
  /* padding: 7px 25px 30px 25px; */
  border-radius: 25px;
  background-color: #D85F35;
  border-color: #D85F35;
  color: #fff;

  /* Shadow */
/* -webkit-box-shadow: -5px 5px 0px 0px rgba(136,35,0,1);
-moz-box-shadow: -5px 5px 0px 0px rgba(136,35,0,1);
box-shadow: -5px 5px 0px 0px rgba(136,35,0,1); */
-webkit-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
-moz-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
}


.ant-btn-primary:hover {
  background-color: #bd4c26;
  border-color: #bd4c26;
  color: #fff;
}

.ant-btn-primary:active {
  background-color: #9c3411;
  border-color: #bd4c26;
  color: #fff;
}




.ant-btn:hover {
  background-color: #bd4c26;
  border-color: #bd4c26;
  color: #fff;
}

.hero-btn-padd{
  padding: 15px 25px 33px 25px;
}

.ant-btn-group>.ant-btn:only-child{
  border-radius: 40px;
  padding: 25px 30px 25px 30px;
  background-color: transparent;
}

.ant-btn-group>.ant-btn:only-child:hover{
  color: #9c3411;
}


/* Search bar */
.ant-input-affix-wrapper{
  border-radius: 25px;
  background-color: #D85F35;
  border-color: #D85F35;
  border-radius: 25px;
  color: #fff;
  padding: 10px 15px;

  /* Shadow */
/* -webkit-box-shadow: -5px 5px 0px 0px rgba(136,35,0,1);
-moz-box-shadow: -5px 5px 0px 0px rgba(136,35,0,1);
box-shadow: -5px 5px 0px 0px rgba(136,35,0,1); */
-webkit-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
-moz-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
}

.newsletter-input, .local-input, .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 25px;
  background-color: #fff;
  border-color: #D85F35;
  border-radius: 25px;
  color: #000;
  padding: 10px 15px;

  /* Shadow */
/* -webkit-box-shadow: -5px 5px 0px 0px rgba(136,35,0,1);
-moz-box-shadow: -5px 5px 0px 0px rgba(136,35,0,1);
box-shadow: -5px 5px 0px 0px rgba(136,35,0,1); */
-webkit-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
-moz-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
}


.newsletter-input, .local-input, .ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
  border-color: #D85F35;

  /* Shadow */
/* -webkit-box-shadow: -5px 5px 0px 0px rgba(136,35,0,1);
-moz-box-shadow: -5px 5px 0px 0px rgba(136,35,0,1);
box-shadow: -5px 5px 0px 0px rgba(136,35,0,1); */
-webkit-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
-moz-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover{
  border-radius: 25px;
  border-color: rgba(136,35,0,1);
}

.ant-input-affix-wrapper:focus{
  border-color: #D85F35;
  box-shadow: 0 0 0 2px rgba(136,35,0,1);
  border-right-width: 1px;
  outline: 0;
}

.ant-input-affix-wrapper>input.ant-input {
  background-color: transparent;
  border-color: #D85F35;
  border-radius: 25px;
  color: #fff;
}

.ant-table-thead>tr>th{
  background: none;
  border-bottom: solid 2px#D85F35;
  text-align: center;
  background-color: #ECEFF2;
  color: #D85F35;
  font-weight: 800;
  
}

.ant-table-tbody>tr>td {
  border-bottom: solid 1px #D85F35;
  background-color: #ECEFF2;
}

table{
  border-color: none;
}

ant-table-wrapper {
  border-radius: 25px;
  background-color: transparent;
}

.ant-input-group-addon {
  background-color: #D85F35;
  border-color: #D85F35;
  border-radius: 25px;
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover, .ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-arrow, .ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-expand-icon, .ant-menu-vertical .ant-menu-submenu-selected, .ant-menu-vertical-left .ant-menu-submenu-selected, .ant-menu-vertical-right .ant-menu-submenu-selected{
  color: #D85F35;
}

.ant-menu-horizontal>.ant-menu-item::after, .ant-menu-horizontal>.ant-menu-submenu::after:hover{
  border-color: #D85F35;
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected::after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover::after {
  border-bottom: 2px solid #D85F35;
}

.max-hgt-content{
  max-height: max-content;
}

.margin-top-bottom{
  margin: 20px 0;
}

.padding-header{
  padding: 1em 3em 0;
}

.padding{
  padding: 1em 3em;
}

.padding-top{
  padding-top: 1em 0;
}

.ant-collapse-item:last-child>.ant-collapse-content, .ant-collapse>.ant-collapse-item:last-child, .ant-collapse>.ant-collapse-item:last-child>.ant-collapse-header {
  border-radius: 0 0 25px 25px;
}

.ant-collapse {
  border-radius: 25px;
  margin: 25px 0;
  
  /* Shadow */
  -webkit-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
  box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
}

.ant-slider-track {
  background-color: #E4997F;
  border-color:#E4997F;
}

.ant-slider:hover .ant-slider-track{
  background-color: #D85F35;
}

.ant-slider-handle:focus, .ant-slider-handle:active{
  background-color: #D85F35;
  border: 2px solid #D85F35;
}

.ant-slider-handle {
  border-color:#E4997F;
}

 .ant-tag {
  padding: 0.5em 1em;
  background-color: transparent;
  border-radius: 25px;
  border-color: #D85F35;
  color: #D85F35;
}

.small-tag .ant-tag {
  padding:  0.25em 0.5em;
  border-radius: 25px;
  border: none;
  color: #fff;
}

/* checkbox colors */

.ant-checkbox-checked .ant-checkbox-inner{
  background-color: #D85F35;
  border-color: #D85F35;
}

.ant-checkbox-checked::after:hover {
  border-color: #D85F35;
}

.block-768 {
  display: none;
}


  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="home"] {
      /* flex-direction: column-reverse; */
      display: block;
    }

    [class*="colum"] {
      flex-direction: column;
    }

    [class*="row"] {
      flex-direction: row;
      flex-wrap: wrap;
    }

    [class*="reverse-direction"] {
      flex-direction: column-reverse;
    }

    [class*="btn-card"] {
      width: max-content;
      width: 100%;
    }


    [class*="margin-top-media"] {
      margin-top: 2em;
    }

    [class*="block-768"]{
      display: block;
    }

    [class*="hidden-768"]{
      display: none;
    }

    .logo{
      margin: auto !important;
    }

    .nav{
      margin: auto;
    }

    th {
      display: none;
    }
    tr:nth-of-type(2n){
      background-color: hsl(0 0% 0% / 0.5);
    }

    td{
      display: grid;
      gap: 0.5rem;
      grid-template-columns: 15ch auto;
      padding: 0.5rem 1 rem;
    }

    td::before{
      content:attr();
      font-weight: 700;
      text-transform: capitalize;
    }

    .ant-table-tbody>tr>td{
      border: none;
    }

    .ant-table-tbody>tr>td:first-child{
      padding-top: 2rem;
    }
    

    .ant-table-tbody>tr>td:last-child{
      padding-bottom: 2rem;
      border-bottom: solid 1px #D85F35;
    }

    /* Labels for responsive table */
    td:nth-of-type(1)::before{
      content: "posição: ";
      color: #D85F35;
    }

    td:nth-of-type(2)::before{
      content: "empresa: ";
      color: #D85F35;
    }

    td:nth-of-type(3)::before{
      content: "Area: ";
      color: #D85F35;
    }

    td:nth-of-type(4)::before{
      content: "política: ";
      color: #D85F35;
    }

    td:nth-of-type(5)::before{
      content: "Local: ";
      color: #D85F35;
    }
  }


  @media only screen and (max-width: 1200px) {
    /* For mobile phones: */

    [class*="coluna"] {
      flex-direction: column;
    }
    
    [class*="align-end"] {
      align-items: center;
    }
    [class*="margin-top-media"] {
      margin-top: 2em;
    }

    /* header */
[class="ant-layout-header[_ngcontent-uwv-c107]"]{
  height: 150px;
}

[class*="cards-responsive"] {
  flex-direction: column;
}
  }

  nz-select-item.ant-select-selection-item.ng-star-inserted {
    overflow: visible;
    line-height: 0%;
  }

  .ant-select-single .ant-select-selector .ant-select-selection-item{
    line-height: 10px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  .ant-pagination-item-active a, .ant-pagination-item:focus-visible a, .ant-pagination-item:hover a{
    color: #D85F35;
  }

  .ant-pagination-item:hover{
    border-color: #D85F35;
  }

  .ant-pagination-item-active:hover{
    background-color: #ECEFF2;
  }

  .ant-pagination-item-active{
    border-color: #D85F35;

    /* Shadow */
    -webkit-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
    box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.2);
  }

  .ant-pagination-item, .ant-pagination-next .ant-pagination-item-link, .ant-pagination-prev .ant-pagination-item-link{
    border-radius: 10px;
  }

  .flex-wrap .ant-table table{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: space-between;
  }

  .ant-collapse>.ant-collapse-item>.ant-collapse-header{
    color: #D85F35;
  }

  .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open){
    border-color: rgba(136,35,0,1);
  }

  .ant-slider-handle:focus{
    box-shadow: 0 0 0 5px rgba(136,35,0,01);
  }


  .ant-select-selection .ant-form {
    ::-webkit-input-placeholder {
      color: #E4997F  !important;
    }
    &:placeholder {
      color: #E4997F  !important;
    }
    :placeholder .ant-form{
      color: #E4997F  !important;
    }
    ::-webkit-input-placeholder{
      color: #E4997F !important;
    }
  }
  
  ::-webkit-input-placeholder{
    color: #E4997F  !important;
  }

  /* Gradien noise */
  .noise{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
      width: 100%;
      height: 70vh;
      filter: contrast(100%) brightness(150%);
      background: 
      linear-gradient(180deg, rgba(216,95,53,1), rgba(255, 255, 255, 0)),
      url(/👆/that/noise.svg);
    
    }

    .noise_mouse{
      position: absolute;
      border-radius: 200px;
      width: 100px;
      height: 100px;
      filter: contrast(200%) brightness(200%);
      background: 
      radial-gradient(circle at 50% 50%, rgba(216,95,53,1), rgba(0,0,0,0)),
      url(/👆/that/noise.svg);
    }

    .map{
      top: 200px;
      z-index: 0;
      position: absolute;
      margin: auto;
      height: 385vh;
      width: 100%;
    }

    path {
      transition: stroke-dashoffset 0.3s linear;
    }

    .zindex10{
      z-index: 10;
    }
  