<div class="wrapper">
<section>
    <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a onclick="window.location= ''">Home</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>Vagas</nz-breadcrumb-item>
      </nz-breadcrumb>
</section>
<section nz-col nzSpan="24">
    <h1>Vagas</h1>

    <nz-table #basiccard [nzData]="listOfData" nzFrontPagination="false">
      
      <nz-card class="grey-bkg flex margin-8r-12b round_border" *ngFor="let data of basiccard.data">
        <div class="align-center flex margin-8r-12b">
          <div class="margin-8r-12b">
            <img class="img_home" src="{{ data.imagem }}" alt="Logoimagem da div.pt">
          </div>

          <div class="align-center margin-8r-12b">
            <h3>{{ data.posicao}}</h3>
            <h3>{{ data.empresa}}</h3>
            <nz-tag><fa-icon [icon]="faMoneyBillWave"></fa-icon> {{ data.salario }}</nz-tag>
            <p nz-typography nzType="secondary">{{ data.experiencia }}</p>
            <p nz-typography nzType="secondary">{{ data.area }} | {{ data.local }}</p>
          </div>
        </div>

        <div>
          <div class="flex margin-8r-12b">
            <ng-container *ngFor="let skill of data.skills | keyvalue">
              <ng-container *ngIf="skill.value.trim() !== ''">
                <nz-tag [nzColor]="color">{{ skill.value }}</nz-tag>
              </ng-container>
            </ng-container>

          </div>
          <p>
            {{ data.descricao }}
          </p>
          <button nz-button onclick="window.location= 'candidatura'" nzType="primary">Candidatar-me</button>
          <button nz-button onclick="window.location= 'vagas'" nzType="default">Ver proposta</button>

        </div>
      </nz-card>
    </nz-table>
  </section>
</div>