<div class="wrapper">
  <section class="mg-0">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a onclick="window.location= ''">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Vagas</nz-breadcrumb-item>
    </nz-breadcrumb>
    
  <h1>Vagas</h1>
  <div nz-col nzSpan="24" class="flex jst-between align-end">
  <div>
  <button nz-button onclick="window.location= 'vagas'" nzType="default">Limpar filtros</button>
  
  <nz-tag
      [nzColor]="color"
      *ngFor="let tag of tags; let i = index"
      [nzMode]="i === 0 ? 'default' : 'closeable'"
      (nzOnClose)="handleClose(tag)"
    >
      {{ sliceTagName(tag) }}
    </nz-tag>

  <nz-tag *ngIf="!inputVisible" class="editable-tag" nzNoAnimation (click)="showInput()">
    <span nz-icon nzType="plus"></span>
    New Tag
  </nz-tag>

    <input
      #inputElement
      nz-input
      nzSize="small"
      *ngIf="inputVisible"
      type="text"
      [(ngModel)]="inputValue"
      style="width: 78px;"
      (blur)="handleInputConfirm()"
      (keydown.enter)="handleInputConfirm()"
    />
  </div>
  <div nz-col nzSpan="2">
    <label nz-typography nzType="secondary" for="pageSize">Items por página</label>
    <nz-select name="pageSize" nz-col nzSpan="24" [(ngModel)]="pageSize">
      <ng-container *ngFor="let option of options">
        <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
      </ng-container>
    </nz-select>
  </div>
</div>
  </section>

  <div class="flex">

    <!-- Sider -->
    <section nz-col nzSpan="6" class="sider round_border mg-0 pd-top-0">

      <!-- Colapse 1- Política -->
      <nz-collapse>
        <nz-collapse-panel [nzActive]="true" [nzHeader]="panel1">
          <label nz-typography nzType="secondary" for="politica">Escolhe uma politica de trabalho</label>
          <nz-checkbox-group name="politica" [(ngModel)]="checkOptionsOne" (ngModelChange)="updateSingleChecked(); filterData()"></nz-checkbox-group>
        </nz-collapse-panel>
      </nz-collapse>
      <ng-template #panel1>Política</ng-template>

      <!-- Colapse 2- Area -->
      <nz-collapse>
        <nz-collapse-panel [nzActive]="true" [nzHeader]="panel2">
          <label nz-typography nzType="secondary" for="area">Escolhe uma area de interesse</label>
          <nz-checkbox-group name="area" [(ngModel)]="checkOptionsTwo" (ngModelChange)="updateSingleChecked(); filterData2()"></nz-checkbox-group>
        </nz-collapse-panel>
      </nz-collapse>
      <ng-template #panel2>Area</ng-template>

      <!-- Colapse 3- Localização -->
      <nz-collapse>
        <nz-collapse-panel [nzActive]="true" [nzHeader]="panel3">
          <label nz-typography nzType="secondary" for="local">Escolhe uma localização</label>

          <nz-input-group class="margin-8r-12b" [nzSuffix]="searchIconTemplate">
              <input
                name="local"
                placeholder="Localização"
                nz-input
                [(ngModel)]="inputValue"
                (input)="onInput($event)"
                [nzAutocomplete]="auto"
              />
              <nz-autocomplete [nzDataSource]="locais" nzBackfill #auto></nz-autocomplete>

          </nz-input-group>

          <ng-template #searchIconTemplate><fa-icon [icon]="faLocationDot"></fa-icon></ng-template>
        </nz-collapse-panel>
      </nz-collapse>
      <ng-template #panel3>Local</ng-template>

      <!-- Colapse 4- Slário -->
      <nz-collapse>
        <nz-collapse-panel [nzActive]="true" [nzHeader]="panel4">
          <label nz-typography nzType="secondary" for="slider">Salário por mês |  (moeda: €)</label>
          <nz-slider name="slider" [nzStep]="100" [nzMarks]="marks" [nzMax]="value_max" [nzMin]="value_min" nzRange [(ngModel)]="value"></nz-slider>
        </nz-collapse-panel>
      </nz-collapse>
      <ng-template #panel4>Salário</ng-template>

      <!-- Colapse 5 -->
      <!-- <nz-collapse>
        <nz-collapse-panel [nzActive]="true" [nzHeader]="panel5">
          <label nz-typography nzType="secondary" for="experiencia">Escolhe a tua experiencia</label>
          <nz-select [(ngModel)]="checkOptionsThree" (ngModelChange)="filterData4()" name="experiencia">
            <nz-option *ngFor="let item of checkOptionsThree" [nzValue]="item.value" [nzLabel]="item.label"></nz-option> -->
           <!--  <nz-option nzValue="todos" nzLabel="Todos" selected></nz-option>
            <nz-option nzValue="junior" nzLabel="Junior"></nz-option>
            <nz-option nzValue="intermedio" nzLabel="Intermedio"></nz-option>
            <nz-option nzValue="senior" nzLabel="Senior"></nz-option> -->
          <!-- </nz-select>
        </nz-collapse-panel>
      </nz-collapse>
      <ng-template #panel5>Experiencia</ng-template> -->

      <nz-collapse>
        <nz-collapse-panel [nzActive]="true" [nzHeader]="panel5">
          <label nz-typography nzType="secondary" for="experiencia">Escolhe a tua experiencia</label>
          <nz-select nzMode="multiple" [(ngModel)]="checkOptionsThree" (ngModelChange)="filterData4()" name="experiencia">
            <nz-option *ngFor="let item of checkOptionsThree" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
          </nz-select>
        </nz-collapse-panel>
      </nz-collapse>
      <ng-template #panel5>Experiencia</ng-template>
    </section>

    <!-- Empregos Cards -->
    <section class="mg-0 pd-top-0" nz-col nzSpan="18">

      <nz-table #basiccard  [nzData]="filteredData">

        <nz-card class="grey-bkg flex margin-8r-12b round_border" *ngFor="let data of basiccard.data.slice((currentPage - 1) * pageSize, currentPage * pageSize)">
          <div class="align-center flex margin-8r-12b">
            <div class="margin-8r-12b">
              <img class="img_home" src="{{ data.imagem }}" alt="Logoimagem da div.pt">
            </div>

            
              <div class="margin-8r-12b margin">
              <h3>{{ data.posicao}}</h3>
              <h3>{{ data.empresa}}</h3>
            
            
              <nz-tag><fa-icon [icon]="faMoneyBillWave"></fa-icon> {{ data.salario }} €</nz-tag>
              <p nz-typography nzType="secondary">{{ data.experiencia }}</p>
              <p nz-typography nzType="secondary">{{ data.politica }}</p>
              <p nz-typography nzType="secondary">{{ data.area }} | {{ data.local }}</p>
            
            </div>
          </div>

          <div>
            <div class="flex margin-8r-12b">
              <ng-container *ngFor="let skill of data.skills | keyvalue">
                <ng-container *ngIf="skill.value.trim() !== ''">
                  <nz-tag [nzColor]="color">{{ skill.value }}</nz-tag>
                </ng-container>
              </ng-container>

            </div>
            <p>
              {{ data.descricao }}
            </p>
            <button nz-button onclick="window.location= 'candidatura'" nzType="primary">Candidatar-me</button>
            <button nz-button onclick="window.location= 'vagas'" nzType="default">Ver proposta</button>

          </div>
        </nz-card>
      </nz-table>
    </section>
  </div>
</div>